/* your styles go here */
.fade-blue,
.fade-blue:hover,
.fade-blue:focus,
.fade-blue:active {
    background-color: #95c7ec;
    border-color: #95c7ec;
}

.about-pic {
    margin: 65px auto;
}

#about img {
    width: 357px;
    min-height: 100px;
    max-height: 357px;
}

#portfolio img {
    width: 1200px;
    min-height: 100px;
    max-height: 547px;
}

#customers img {
    width: 167px;
    min-height: 100px;
    max-height: 167px;
}
